default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\ProductContext
                - App\Tests\Behat\OrderContext
                - App\Tests\Behat\ApiContext
                - App\Tests\Behat\UserContext
                - App\Tests\Behat\PromotionContext

    extensions:
        DAMA\DoctrineTestBundle\Behat\ServiceContainer\DoctrineExtension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
